Web References/SystemMonitorWebService/SystemMonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://localhost:44390/SystemMonitorService.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://localhost:44390/SystemMonitorService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://localhost:44390/SystemMonitorService.asmx">
      <s:element name="GetMemoryPerformance">
        <s:complexType />
      </s:element>
      <s:element name="GetMemoryPerformanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemoryPerformanceResult" type="tns:ArrayOfPerformance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerformance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Performance" nillable="true" type="tns:Performance" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Performance">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCpuPerformance">
        <s:complexType />
      </s:element>
      <s:element name="GetCpuPerformanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCpuPerformanceResult" type="tns:ArrayOfPerformance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOpenWindows">
        <s:complexType />
      </s:element>
      <s:element name="GetOpenWindowsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOpenWindowsResult" type="tns:ArrayOfWindowInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWindowInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WindowInfo" nillable="true" type="tns:WindowInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WindowInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMostOpenWindows">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stopDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMostOpenWindowsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMostOpenWindowsResult" type="tns:ArrayOfStatisticsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatisticsModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StatisticsModel" nillable="true" type="tns:StatisticsModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatisticsModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMemoryPerformanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemoryPerformance" />
  </wsdl:message>
  <wsdl:message name="GetMemoryPerformanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemoryPerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetCpuPerformanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetCpuPerformance" />
  </wsdl:message>
  <wsdl:message name="GetCpuPerformanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetCpuPerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetOpenWindowsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOpenWindows" />
  </wsdl:message>
  <wsdl:message name="GetOpenWindowsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOpenWindowsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMostOpenWindowsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMostOpenWindows" />
  </wsdl:message>
  <wsdl:message name="GetMostOpenWindowsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMostOpenWindowsResponse" />
  </wsdl:message>
  <wsdl:portType name="SystemMonitorServiceSoap">
    <wsdl:operation name="GetMemoryPerformance">
      <wsdl:input message="tns:GetMemoryPerformanceSoapIn" />
      <wsdl:output message="tns:GetMemoryPerformanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCpuPerformance">
      <wsdl:input message="tns:GetCpuPerformanceSoapIn" />
      <wsdl:output message="tns:GetCpuPerformanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenWindows">
      <wsdl:input message="tns:GetOpenWindowsSoapIn" />
      <wsdl:output message="tns:GetOpenWindowsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMostOpenWindows">
      <wsdl:input message="tns:GetMostOpenWindowsSoapIn" />
      <wsdl:output message="tns:GetMostOpenWindowsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemMonitorServiceSoap" type="tns:SystemMonitorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMemoryPerformance">
      <soap:operation soapAction="https://localhost:44390/SystemMonitorService.asmx/GetMemoryPerformance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCpuPerformance">
      <soap:operation soapAction="https://localhost:44390/SystemMonitorService.asmx/GetCpuPerformance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenWindows">
      <soap:operation soapAction="https://localhost:44390/SystemMonitorService.asmx/GetOpenWindows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostOpenWindows">
      <soap:operation soapAction="https://localhost:44390/SystemMonitorService.asmx/GetMostOpenWindows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SystemMonitorServiceSoap12" type="tns:SystemMonitorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMemoryPerformance">
      <soap12:operation soapAction="https://localhost:44390/SystemMonitorService.asmx/GetMemoryPerformance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCpuPerformance">
      <soap12:operation soapAction="https://localhost:44390/SystemMonitorService.asmx/GetCpuPerformance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenWindows">
      <soap12:operation soapAction="https://localhost:44390/SystemMonitorService.asmx/GetOpenWindows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostOpenWindows">
      <soap12:operation soapAction="https://localhost:44390/SystemMonitorService.asmx/GetMostOpenWindows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemMonitorService">
    <wsdl:port name="SystemMonitorServiceSoap" binding="tns:SystemMonitorServiceSoap">
      <soap:address location="https://localhost:44390/SystemMonitorService.asmx" />
    </wsdl:port>
    <wsdl:port name="SystemMonitorServiceSoap12" binding="tns:SystemMonitorServiceSoap12">
      <soap12:address location="https://localhost:44390/SystemMonitorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>